/*
@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url("../../assets/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url("../../assets/fonts/Inter/Inter-Bold.ttf");
}
*/
.wp-block-accordion-accordion {
    //font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 1px solid #D1D1D1;

}
