body {
    counter-reset: accordion-item-number;
}

.wp-block-accordion-accordion-item {
    padding: 32px 18px;
    background-color: #fff;
    position: relative;
    margin-bottom: 3px;
    border: 1px solid #efefef;

    @media(min-width: 480px) {
        padding: 40px 32px 40px 100px;
    }

    @media(min-width: 990px) {
        padding: 55px 60px 55px 170px;
    }

    &:before {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: rgba(60, 60, 67, 0.5);
        margin-bottom: 10px;
        
        counter-increment: accordion-item-number;
        content: counter(accordion-item-number, decimal-leading-zero);
        
        @media(min-width: 480px) {
            position: absolute;
            top: 40px;
            left: 32px;
            margin-bottom: 0;
        }
        
        @media(min-width: 990px) {
            top: 48px;
            left: 60px;
            font-size: 48px;
        }
    }

    &.is-active {
        .wp-block-accordion-accordion-item__content {
            display: block;
            padding-top: 25px;
        }

        .wp-block-accordion-accordion-item__close {
            background-color: #000;
            transform: rotate(-45deg);

            svg path {
                fill: #fff;
            }
        }
    }
}

.wp-block-accordion-accordion-item__title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;

    @media(min-width: 480px) {
        font-size: 28px;
    }

    @media(min-width: 990px) {
        font-size: 32px;
    }
}

.wp-block-accordion-accordion-item__content {
    display: none;
    font-size: 18px;
    line-height: 140%;
    color: rgba(60, 60, 67, 0.85);
    margin-top: 0;
    margin-bottom: 0;

    @media(min-width: 990px) {
        font-size: 20px;
    }	
}

.wp-block-accordion-accordion-item__head {
    position: relative;
    cursor: pointer;
}

.wp-block-accordion-accordion-item__close {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    color: #000;
    background: #F3F5F6;
    border-radius: 50%;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    @media(min-width: 480px) {
        height: 40px;
        width: 40px;		
    }

    @media(min-width: 990px) {
        height: 48px;
        width: 48px;
    }	
}